* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: #0b2434;
  padding: 4rem 0.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  min-width: 20rem;
  max-width: 40rem;
  height: 22rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background: #f5f5f5;
  border-radius: 10px;

  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

.title {
  font-size: 1.6rem;
  line-height: 1.2rem;
  padding: 0.5rem;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1rem;
  color: #4a4e74;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;

  padding: 1rem;
}

.die-face {
  width: 3rem;
  height: 3rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  cursor: pointer;

  /* Die with Dots */
  display: grid;
  grid-template-areas: "a . c" "e g f" "d . b";
  align-items: center;
}

.dot {
  font-size: 0.8rem;
  align-self: center;
  justify-self: center;
}

.dot:nth-child(2) {
  grid-area: b;
}
.dot:nth-child(3) {
  grid-area: c;
}
.dot:nth-child(4) {
  grid-area: d;
}
.dot:nth-child(5) {
  grid-area: e;
}
.dot:nth-child(6) {
  grid-area: f;
}
.dot:nth-child(odd):last-child {
  grid-area: g;
}

.roll-btn,
.new-game-btn {
  display: flex;
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 1rem;

  color: #ffffff;

  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 3.81277px;
  cursor: pointer;

  padding: 0.6rem 1.3rem;
}

.roll-btn:focus {
  outline: none;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.record-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;

  font-size: 0.8rem;
  text-align: center;
  background: yellow;

  padding: 0.5rem;
}

.best-record {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  font-size: 0.8rem;
  text-align: center;
  background: yellow;

  padding: 0.5rem;
}

.best-record span {
  color: red;
}

.footer {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: white;
  padding: 0.3rem;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  color: yellow;

  cursor: pointer;
}
